<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Great Numbers</title>
</head>
<body>
    <h1 class="col-7 bg-secondary mx-auto my-3 text-light text-center">Welcome to the Great Number Game!!!</h1>
    <h5 class="col-4 mx-auto my-2">I am thinking of a number between 1 and 100</h5>
    <form action="/users" class="bg-light text-success text-center col-4 mx-auto p-2 rounded"method='post'>
        <div class="form-group">
            <label for="guess">Take a Guess!</label>
            <input type="text" name="guess" class="form-control">
        </div>
    <input type="submit" value="Guess" class="btn btn-warning text-light my-2">
    </form>
    <div class="col-5 mx-auto my-1 d-flex justify-content-center text-light">
        {% if 'guess' in session: %}
            {% if session ['guess'] == session['num'] %}
                <div class="card bg-success">
                    <h2>You guessed the number right!!!</h2>
                    <a href="/reset" class="btn btn-primary">Play Again!</a>
                </div>
            {% elif session['guess'] < session['num'] %}
            <div class="card bg-danger p-1">
                <h2>Too Low!!!</h2>
            </div>
            {% else %}
            <div class="card bg-dark p-1">
                <h2>Too High!!!</h2>
            </div>
            {% endif %}
        {% endif %}
    </div>
</body>
</html>